.picture {
    text-align: center;
}

.picture:hover {
    cursor: pointer;
}

.cardName {
    text-align: center;
}

.cardContainer {
    width: calc(90vw/1);
    padding: 2vw;
}

.cardContainer h3 {
    font-size: 2.5em;
}

@media screen and (min-width: 768px) {
    .cardContainer {
        width: calc(90vw/2);
    }

    .cardContainer h3 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .cardContainer {
        width: calc(90vw/4);
    }

    .cardContainer h3 {
        font-size: 1.5em;
    }
}