.banner {
    width: 50vw;
    margin: 0 25vw 0 25vw;
}

.bannerContainer {
    line-height: 0;
    background-image: url("https://dd.b.pvp.net/1_0_0/set1/en_us/img/cards/01IO014-full.png");
    background-position: center;
    background-size: cover;
}

.featuredCards {
    width: 90vw;
    margin: 0 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.h2 {
    font-size: 3em;
}

.line {
    max-width: 90vw;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 2em;
    }
}